# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Log file
*.log*

# Local env files
.env*.local

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Typescript
*.tsbuildinfo
next-env.d.ts

# VS Code files
.vscode/

# IntelliJ files
.idea
